@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.module.css */
/* .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}   */
 /* 3つのカラム */

/* styles/globals.css */

body {
    background-color: #FEF5EE; /* 薄い灰色の背景 */
  }
  